.speech {
  font-family: Calibri;
  font-size: medium;
  color: black;
}
.stage-direction {
  font-family: Calibri;
  font-size: medium;
  color: black;
}
.name {
  font-family: Calibri;
  font-size: medium;
  color: black;
}
.directions {
  color: lightpink;
}
#a1:hover {
  background-color: Aquamarine;
  color: blueviolet;
}
.scenedescription {
  color: green;
}
.youngsyrian {
  color: blueviolet;
}
.page {
  color: brown;
}
.firstsoldier {
  color: yellow;
}
.LORDGORING {
  color: maroon;
  font-size: 1.5rem;
}
.SIRROBERTCHILTERN {
  font-size: 1.5rem;
  color: orange;
}
.characterName {
  font-size: 1rem;
  font-style: 🧑;
}

.description {
  font-size: 1rem;
}
.table,
td {
  border: 2px solid black;
  text-align: center;
  color: navy;
  padding: 5px;
  border-collapse: collapse;
}
th {
  border: 2px solid black;
  text-align: center;
  background-color: bisque;
}

tr:nth-child(even) {
  background-color: lightgray;
}

#a2:hover {
  color: red;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
ul {
  list-style-type: disc;
  color: darksalmon;
}

ul.navbar-horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.navbar-horizontal li {
  float: left;
  color: #000;
  background-color: AliceBlue;
  border: 2px solid black;
}
ul.navbar-horizontal a {
  display: block;
  padding: 8px;
}
ul.navbar-horizontal a:hover {
  background-color: #555;
  color: white;
}
.firstpage {
  background-color: gold;
}
.secondpage {
  background-color: lightgreen;
}
.left {
  text-align: left;
}
.h5 {
  margin-bottom: 0%;
  margin-top: 0%;
}

.gg-website {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 18px;
  border: 2px solid;
  border-radius: 3px;
  box-shadow: 0 -1px 0;
}

.gg-website::after,
.gg-website::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  top: 2px;
}

.gg-website::before {
  background: currentColor;
  left: 2px;
  box-shadow: 0 4px 0, 0 8px 0;
  border-radius: 3px;
  height: 2px;
}

.gg-website::after {
  height: 10px;
  border: 2px solid;
  right: 2px;
  border-radius: 1px;
}
.architecture {
  color: darkblue;
  font-size: larger;
  font-weight: bold;
}
.image {
  text-align: left;
}
